.hero {
    display: flex;
    background-color: #1f2937;
    font-family: sans-serif;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}

.hero-items {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 15px;
}

.hero .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero .links {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hero .hero-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.hero-content-text {
    margin-right: 10px;
}
.lighthouse {
    height: 200px;
    width: auto;
}