* {
    font-family: sans-serif;
}

.hero {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-items {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 15px;
}

.hero .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero .links {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hero .hero-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.hero-content-text {
    margin-right: 10px;
}

.lighthouse {
    height: 200px;
    width: auto;
}

.lighthouse-2 {
    height: 100px;
    width: auto;
}

.hero-button {
    background-color: #3882f6;
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 5px;
}

.hero-button p {
    margin: 0;
    display: inline;
    font-size: 18px;
    color: #e5e7eb;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-items {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 15px;
}

.information-boxes {
    display: flex;
    flex-direction: row;
}

.information-texts {
    display: flex;
    flex: auto;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}