* {
    font-family: sans-serif;
}

.hero {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-items {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 15px;
}

.hero .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero .links {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hero .hero-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.hero-content-text {
    margin-right: 10px;
}

.lighthouse {
    height: 200px;
    width: auto;
}

.lighthouse-2 {
    height: 100px;
    width: auto;
}

.hero-button {
    background-color: #3882f6;
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 5px;
}

.hero-button p {
    margin: 0;
    display: inline;
    font-size: 18px;
    color: #e5e7eb;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-items {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 15px;
}

.information-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-boxes {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: stretch;
    justify-content: space-between;
    gap: 8px;
}

.information-boxes-image {
    display: flex;
    align-items: center;
    flex-grow: 1;
    object-position: center;
    flex-direction: column;
    object-position: center;
}

.information-boxes-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.information-texts {
    width: 100%;
    flex-grow: 0;
    text-align: center;
    color: gray;
    font-size: 13px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 15px;
}

.quote-paragraph {
    text-align: left;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-person {
    text-align: right;
    color: #1f2937;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}